<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails 8" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 font-mono text-gray-900 antialiased antialiased">
    <header class="bg-white mb-6">
      <nav class="border-b border-gray-200">
        <div class="max-w-7xl mx-auto px-4">
          <div class="flex justify-between items-center h-16">
            <div class="flex">
              <%= link_to "Rails Beginnings", root_path, class: "text-xl font-semibold" %>
            </div>

            <div class="flex">
              <% if authenticated? %>
                  <%= link_to "Profile", "#", class: "mr-6 hover:underline" %>
                  <%= button_to "Logout", session_path, method: :delete, class: "hover:underline" %>
              <% else %>
                  <%= link_to "Login", new_session_path, class: "mr-6 hover:underline" %>
                  <%= link_to "Register", new_registration_path, class: "hover:underline" %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
