<!DOCTYPE html>
<html>
  <head>
    <title>Rails Beginnings</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div><%=notice %></div>
    <div><%=alert %></div>

    <% if user_signed_in? %>
      <%= link_to "Profile", "#" %>
      <%= button_to "Log out", "#" %>
    <% else %>
      <%= link_to "Register", register_path %>
      <%= link_to "Log in", login_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
