<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails Beginnings" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-mono text-gray-900 antialiased">
    <div class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-100">
      <div class="w-full sm:max-w-md">
        <h1 class="text-3xl text-center font-mono text-gray-600 hover:text-gray-800 mb-6 transition ease-in-out duration-150">
          <%= link_to "Rails Beginnings", root_path %>
        </h1>

        <% if notice %>
          <div id="notice" class="bg-green-200 text-green-800 block mb-4 p-4"><%= notice %></div>
        <% end %>

        <% if alert %>
          <div id="alert" class="bg-red-100 text-red-800 block mb-4 p-4"><%= alert %></div>
        <% end %>

        <div class="bg-white px-6 py-5 overflow-hidden">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
